:root {
  --bg: #fafafa;
  --text: #e4e5f1;
  --btn: #d2d3db;
  --btn-hover: #9394a5;
  --display: #484b6a;
}

.dark {
  --bg: #0d0d0d;
  --text: #ffffff;
  --btn: #00ff85;
  --btn-hover: #ff0099;
  --display: #f1eded;
}
body {
  background: #e0f7fa;
  color: black;
  font-family: sans-serif;
  display: grid;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.calculator {
  background: var(--bg);
  border-radius: 10px;
  box-shadow: 0 0 15px #d036361a;
  padding: 20px;
  width: 300px;
}

.display {
  background: var(--display);
  color: var(--text);
  font-size: 28px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: right;
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  background: var(--btn);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: var(--btn-hover);
}

.toggle-mode {
  margin-top: 10px;
  width: 100%;
}
