:root {
  --bg: #e0f7fa;
  --text: #111;
  --btn: #eb1414;
  --btn-hover: #675ecb;
  --display: #fff;
}

.dark {
  --bg: #1e1e1e;
  --text: #f9f9f9;
  --btn: #333;
  --btn-hover: #444;
  --display: #2a2a2a;
}

body {
  background: #e0f7fa;
  color: black;
  font-family: sans-serif;
  display: grid;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.calculator {
  background: var(--bg);
  border-radius: 10px;
  box-shadow: 0 0 15px #d036361a;
  padding: 20px;
  width: 300px;
}

.display {
  background: var(--display);
  color: var(--text);
  font-size: 28px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: right;
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  background: var(--btn);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: var(--btn-hover);
}

.toggle-mode {
  margin-top: 10px;
  width: 100%;
}
